/* Font created by John Vargas Beltran */

@font-face {
  font-family: 'Macondo';
  src: url('fonts/Macondo-Regular.woff2') format('woff2'),
      url('fonts/Macondo-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.images {
  position: relative;
}

.main {
  display: flex;
  align-items: center;
}

img[src="odin-logo.png"] {
  height: 15vh;
  width: 15vh;
}

img[src="background.jpg"] {
  height: 100vh;
  width: 30vw;
}

.logo-section {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  top: 100px;
  width: 30vw;
  background-color: rgba(128, 128, 128, 0.4);
}

.odin {
  font-family: "Macondo";
  font-size: 80px;
}